# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
nim/.vs/nim/v16/Browse.VC.db-shm
nim/.vs/nim/v16/Browse.VC.db
nim/.vs/nim/v16/Browse.VC.db-wal
nim/.vs/nim/v16/Browse.VC.opendb
nim/.vs/nim/v16/Browse.VC.db
nim/.vs/nim/v16/Browse.VC.db
*.db
nim/.vs/nim/v16/Browse.VC.db
