# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

*.idea
nim/Debug/
nim/.vs/nim/v16/Browse.VC.db
nim/.vs/nim/v16/Browse.VC.db-shm
nim/.vs/nim/v16/Browse.VC.db-wal
nim/.vs/nim/v16/Browse.VC.opendb
nim/.vs/nim/v16/Browse.VC.db

tictactoe/Debug/
tictactoe/.vs/tictactoe/v16/Browse.VC.db
tictactoe/.vs/tictactoe/v16/Browse.VC.db-shm
tictactoe/.vs/tictactoe/v16/Browse.VC.db-wal
tictactoe/.vs/tictactoe/v16/Browse.VC.opendb
tictactoe/.vs/tictactoe/v16/ipch/AutoPCH/6a8843f5af850d6a/TICTACTOE.ipch
tictactoe/.vs/tictactoe/v16/.suo
tictactoe/.vs/slnx.sqlite
tictactoe/.vs/tictactoe/v16/.suo
tictactoe/.vs/tictactoe/v16/Browse.VC.db
tictactoe/.vs/tictactoe/v16/.suo
tictactoe/.vs/tictactoe/v16/Browse.VC.db
tictactoe/.vs/tictactoe/v16/.suo
binary-converter/.vs/binary-converter/v16/Browse.VC.db
binary-converter/.vs/binary-converter/v16/Browse.VC.db-shm
binary-converter/.vs/binary-converter/v16/Browse.VC.db-wal
binary-converter/.vs/binary-converter/v16/Browse.VC.opendb
binary-converter/.vs/binary-converter/v16/ipch/AutoPCH/4d1017be81a0e2d4/BINARY-CONVERTER.ipch
